.cif-histogram.wrapper {
}

.cif-histogram .chart {
  min-width: 0;
}

.cif-histogram.wrapper svg {
  display: block;
  border-radius: 2px;
}

.cif-histogram .title {
  text-align: center;
  margin-bottom: 10px;
}

.cif-histogram .controls {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cif-histogram .binSelect {
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid var(--color-gray-lighter);
  background-color: var(--color-white);
  cursor: pointer;
}
