/* ===============
   Root Container
================= */
.neuro-tool {
  /* width: 95%; */
  /* margin: 0 auto; */
  margin: 0 0%;
  padding: 1rem;
}

/* ========================
   Background & Grid Layout
========================== */
.neuro-tool .background-container {
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.neuro-tool .heatmap-scatterplots-grid {
  width: 100%;
  display: grid;
  column-gap: 10px;
  grid-template-columns: 60% 40%;
}

/* ===========================
   Flex Container Variations
=========================== */
.neuro-tool .flex-container-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.neuro-tool .flex-container-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1em;
}

/* ==================
    Side & Main Panel Layout
================== */
.neuro-tool .panels-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.neuro-tool .mainpanel {
  /* flex-grow: 1; */
  padding: 2rem;
}

.neuro-tool .mainpanel.sp-expanded {
  margin: 0% 0% 0% 0%;
  margin-left: var(--side-panel-width);
}

.neuro-tool .mainpanel.sp-collapsed {
  margin: 0% 2% 0% 2%;
}

/* ======================
   Heading Custom Styling
====================== */

.neuro-tool .plot-headings {
  margin: 0;
  padding: 1px 0 5px 0;
  text-align: center;
  flex: 1;
}

.neuro-tool .pearsonCorrelation-heading {
  margin: 0;
  text-align: center;
  flex-grow: 1;
}

/* ==================
   Structure heatmap-heading
================== */
.neuro-tool .checkbox-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  font-size: 13px;
  padding: 10px;
}

.neuro-tool .show-chat-button {
  margin-right: auto;
}

/* =====================
   PCA / KMeans Styling
===================== */
.neuro-tool .pca-heading-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
}

.neuro-tool .kmeans-container {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 1em;
}

.neuro-tool .neuro-loading {
  padding: 2rem 1rem;
}
