.cif-header.header {
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: var(--color-white);
}

.cif-header .title {
  font-size: 24px;
  font-weight: bold;
  color: var(--color-gray-dark);
}

.cif-header .controls {
  display: flex;
  gap: 16px;
  align-items: center;
}

.cif-header .separator {
  color: var(--color-gray-lighter);
  font-size: 18px;
}
