.cif-app.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  font-family: "Courier New", Courier, monospace;
  background-color: var(--color-white-gray);
  color: var(--color-gray-dark);
}

.cif-app .mainContent {
  flex: 1;
  min-height: 0;
  padding: 10px;
  overflow: hidden;
}

.cif-app .panelsContainer {
  display: flex;
  flex: 1;
  gap: 20px;
  min-height: 0;
  height: 100%;
  overflow: hidden;
}

.cif-app .uploadPrompt {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@media (max-width: 768px) {
  .cif-app .panelsContainer {
    flex-direction: column;
  }
}
