.cif-panel-selection.panelMiddle {
  background: var(--color-bg-panel2);
}

.cif-panel-selection .visualizeClustersContainer {
  display: flex;
  flex-direction: column;
}

.cif-panel-selection .scatterplotContainer {
  padding: 15px;
  background: var(--color-white-accent-transparent);
  border-radius: 8px;
  box-shadow: 0 2px 10px var(--color-black-transparent);
}
